/****************************
    Footer Section
****************************/
footer {
    background-color: $gray; 
    color: white;
    margin-top: 10px;
}

footer  p {
    margin-top: 0.8em!important;
    margin-left: 1.5em;
}