  /****************************
    Header Section
    ****************************/
    .header {
        margin-top: 0.5em!important;
        text-align: center;
        background-color: $gray; 
        color: white;
    }

    .header a {
        color: white;
    }

    .header  p {
        margin-top: 0.8em!important;
    }