/****************************
Main Section
****************************/
.main {
    background-color: white;
    color: black;
    height: 100%;
    min-height: 100%;
  }
    
  .mainDiv {
    margin: auto;
    width: 90%;
    padding: 5px;
  }
  
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  