/****************************
Sidebar Section
****************************/

.sidebar {
    display: flex;
    background-color: $gray; 
    margin-top: 10px;
}

ul {
    list-style-type: 'none';
}

.sidebar-list-styling{
    padding-left: 50px;
    padding-top: 15px;
    width: 20%;
    background-color: $gray;
    color: white;
}

.sidebar-list a{
    color: white;
    padding: 0;
}

.sidebar-route{ 
    flex: 1;
    padding: '00px'; 
}